 <style>
    h2 {
        color:rgb(60, 221, 232);
    }    
        h1{
            color: rgb(212, 55, 19);
       }
         body {
         background-color:rgb(29, 153, 19);
        
         }
    </style>
